/**
 * Signature Component Styles
 * Matches Figma Signature design with handwriting font
 */

.signature {
  font-family: 'Brush Script MT', 'Bradley Hand', 'Apple Chancery', cursive;
  font-style: normal;
  line-height: var(--line-height-normal);
  color: var(--color-black);
  white-space: nowrap;
}

.size-small {
  font-size: var(--font-size-1-5xl);
}

.size-medium {
  font-size: var(--font-size-signature-medium);
}

.size-large {
  font-size: var(--font-size-signature-large);
}
