/**
 * Overlayer Component Styles
 * Matches Figma Overlayer design
 */

.overlayer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-900);
  opacity: 0.7;
  cursor: pointer;
  transition: opacity var(--duration-normal) var(--easing-ease);
}

.overlayer:hover {
  opacity: 0.75;
}
