/**
 * Illustration Component Styles
 */

.illustration {
  display: inline-block;
  position: relative;
}

.placeholder {
  width: 100%;
  height: 100%;
}

.placeholder svg {
  display: block;
  width: 100%;
  height: 100%;
}
