/**
 * Popover Component Styles
 * Matches Figma Popover design
 */

.popover {
  position: fixed;
  background-color: var(--color-white);
  border: var(--border-width-default) solid var(--color-gray-220);
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 0px var(--border-width-default) 0px rgba(23, 30, 37, 0.31),
              0px var(--spacing-0-75) var(--spacing-1-25) 0px rgba(23, 30, 37, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Size Variants */
.size-small {
  width: var(--width-datepicker);
}

.size-medium {
  width: var(--width-banner-image-max);
}

.size-large {
  width: var(--width-card-large);
}

/* Content */
.content {
  width: 100%;
  padding: var(--spacing-3) calc(var(--spacing-4) + var(--spacing-0-5));
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-4) + var(--spacing-0-5));
}

/* Arrow */
.arrow {
  width: var(--spacing-4);
  height: var(--spacing-1-5);
  position: relative;
}

.arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--spacing-2) solid transparent;
  border-right: var(--spacing-2) solid transparent;
  border-top: var(--spacing-1-5) solid var(--color-white);
  filter: drop-shadow(0px var(--spacing-0-5) var(--border-width-default) rgba(23, 30, 37, 0.1));
}

/* Placement Variants - positioning is handled in JS */
.placement-top,
.placement-bottom,
.placement-left,
.placement-right,
.placement-bottom-start,
.placement-bottom-end {
  /* No transform needed - positioning calculated in component */
}

/* Arrow positioning for different placements */
.placement-top .arrow::before {
  border-top: none;
  border-bottom: var(--spacing-1-5) solid var(--color-white);
  top: 0;
}

.placement-bottom .arrow::before {
  bottom: 0;
}

.placement-left .arrow::before,
.placement-right .arrow::before {
  border-top: var(--spacing-2) solid transparent;
  border-bottom: var(--spacing-2) solid transparent;
  border-left: var(--spacing-1-5) solid var(--color-white);
}
