/**
 * Divider Component Styles
 *
 * All values reference design tokens from Figma
 */

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-200); /* Gray/200 Dividers */
  border: none;
  margin: 0;
}
